@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, winter, luxury;
}

body {
  background-image: url("/bg.jpg");
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
